@model AdministrationIndexStatisticViewModel

<h3 class="text-center mb-3 text-success">Admin Panel</h3>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active mr-5">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Users" asp-action="Active"><i class="fas fa-user text-success"></i> Registered users: @Model.AllUsersCount <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mr-5">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Games" asp-action="AllActiveGames"><i class="fas fa-chess text-success"></i> Active games: @Model.AllGamesCount</a>
            </li>
            <li class="nav-item active mr-5">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Videos" asp-action="AllActiveVideos"><i class="fab fa-youtube text-success"></i> All videos: @Model.AllVideosCount</a>
            </li>
            <li class="nav-item active mr-5">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Videos" asp-action="Add"><i class="fas fa-plus-square text-success"></i> Add video</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="offset-1 col-10" style="height: 450px;">
        <div id="chartContainer1"></div>
    </div>
</div>


@section Scripts
{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart1 = new CanvasJS.Chart("chartContainer1", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Created games for the last 10 days"
                },
                axisX: {
                    title: "Days"
                },
                axisY: {
                    title: "Games count"
                },
                data: [
                    {
                        type: "splineArea", //change type to bar, line, area, pie, etc
                        dataPoints: @Html.Raw(ViewBag.DataPointsGames)
                    }
                ]
            });

            chart1.render();
        };
    </script>
}