<div id="message-holder" class="d-flex justify-content-start mt-1">
    <input class="w-75 ml-1 pl-1 text-primary border border-primary" type="text" id="messageInput" placeholder="Message..." />
    <button id="sendButton" class="ml-4 btn btn-primary btn-lg">Send</button>
</div>
<hr id="hr-chat" class="bg-primary" />
<div id="messagesList"></div>
