<div class="row justify-content-center">
    <h1 class="text-danger">Game was deleted by admin!</h1>
</div>
<div class="row justify-content-center">
    <i class="fas fa-ban text-danger fa-10x"></i>
</div>