@using Chess.Web.ViewModels.ViewModels.Games
@model GamesViewModel
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<link href="~/css/games.css" rel="stylesheet" />

@{ ViewData["Title"] = "Created Games"; }
<div class="row justify-content-center">
    <h1 class="text-primary">@ViewData["Title"]</h1>
</div>
<hr class="hr-chess" />
<div class="row justify-content-center">
    <div id="Games" class="col-md-6">
        @foreach (var game in Model.Games)
        {
<div id="@game.Id" class="getHover container blueborder m-3 p-2 rounded-lg">
    Game name: @game.Name Figure color: @game.Color
</div>}
    </div>
</div>

@section Scripts
{
    <script src="~/js/created-games.js" asp-append-version="true"></script>
}
