@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    /*font-family: Open Sans, sans-serif;*/
    font-family: "montserrat",sans-serif;
}

.hr-chess {
    width: 100%;
    color: blue;
    height: 1px;
    background-color: #FFC107;
}

.getHover:hover {
    cursor: pointer;
}

.blueborder {
    border-style: solid;
    border-color: #007BFF;
    border-width: 3px;
}

#messagesList {
    font-size: 16px;
    overflow-y: scroll;
    height: 420px;
}

#hr-chat {
    height: 5px;
}

#video {
    border-style: solid;
    border-color: #FFC107;
    border-width: 3px;
}

ul {
    list-style-type: none;
}

